body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    margin-left: 230px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.contenedor-ticket {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.encabezado-ticket {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detalles-ticket {
    font-size: 16px;
    margin-bottom: 10px;
}

.enlace-anadir-comentario {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.enlace-anadir-comentario:hover {
    text-decoration: underline;
}

.no-hay-tickets {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.enlace-perfil,
.enlace-crear-ticket,
.enlace-inicio {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.enlace-perfil:hover,
.enlace-crear-ticket:hover,
.enlace-inicio:hover {
    background-color: #0056b3;
}

.enlace-crear-ticket,
.enlace-inicio {
    margin-left: 20px;
}

.barra-lateral {
    position: fixed;
    width: 230px;
    background-color: #003268;
    height: 100vh;
    color: #fff;
    padding-top: 20px;
    top: 0;
    left: 0;
}

.barra-lateral a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.barra-lateral a:hover {
    background-color: #0056b3;
}

.barra-lateral h2 {
    margin-bottom: 20px;
    margin-left: 20px;
}

.barra-lateral ul {
    list-style-type: none;
    padding: 0;
}

.barra-lateral ul li {
    margin-bottom: 10px;
}

.barra-lateral ul li a {
    color: #fff;
    text-decoration: none;
}

.contenido {
    margin-left: 250px;
}

.contador-tickets {
    background-color: #0878f0b0;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px; 
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.295);
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    text-align: center;
}

.contador-tickets p {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
}

.contador-tickets img {
    margin-left: 5px;
}
